.center-elem {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.main-title {
  text-transform: uppercase;
  text-align: center;
  padding: 0;
}
.input-wrapper {
  display: flex;
  justify-content: center;
}
.input-wrapper .search-input {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  border: 2px solid #f1f1f1;
  background-color: #f8f8f8;
  min-width: 450px;
  padding: 14px 20px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  margin: 15px auto 30px;
  font-size: 4;
}
.card-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.card-wrapper .card {
  text-align: center;
  padding: 20px 10px;
  background-color: #f8f8f8;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  position: relative;
  border: 2px solid #f1f1f1;
  transition: all 400ms ease-in-out;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
}
.card-wrapper .card:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.card-wrapper .card::before {
  content: attr(data-pokemon);
  position: absolute;
  top: 5px;
  left: 20px;
  font-size: 60px;
  font-weight: 800;
  color: #efefef;
  z-index: 0;
  transition: all 400ms ease-in-out;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
}
.card-wrapper .card:hover::before {
  color: #e6e6e6;
}
.card-wrapper .card .card-inner-wrapper {
  position: relative;
  z-index: 1;
}
.card-wrapper .card .card-inner-wrapper .card-img img {
  min-width: 200px;
  max-width: 200px;
  min-height: 200px;
  max-height: 200px;
  transition: all 400ms ease-in-out;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
}
.card-wrapper .card:hover .card-inner-wrapper .card-img img {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}
.card-wrapper .card .card-inner-wrapper .card-title {
  font-size: 20px;
  text-transform: capitalize;
  padding: 0;
  margin: 10px 0 5px;
}
.card-wrapper .card .card-inner-wrapper .types-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0 0 5px;
}
.card-wrapper .card .card-inner-wrapper .types-wrapper .types {
  background-color: #efefef;
  padding: 5px 20px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  width: fit-content;
}
.card-wrapper .card .card-inner-wrapper .card-details {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.card-wrapper .card .card-inner-wrapper .card-details .pokemon-details {
  display: grid;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}
.card-wrapper .card .card-inner-wrapper .card-details .pokemon-details.col-3 {
  grid-template-columns: repeat(3, 1fr);
}
.card-wrapper .card .card-inner-wrapper .card-details .pokemon-details.col-2 {
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 1499px) {
  .card-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1199px) {
  .card-wrapper {
    gap: 25px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .card-wrapper .card {
    font-size: 13px;
  }
}
@media (max-width: 991px) {
  .card-wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .card-wrapper .card {
    font-size: 15px;
  }
  .card-wrapper .card:hover {
    box-shadow: none;
  }
  .card-wrapper .card:hover .card-inner-wrapper .card-img img {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}
@media (max-width: 767px) {
  .card-wrapper .card .card-inner-wrapper .card-details .pokemon-details {
    display: none;
  }
}
@media (max-width: 575px) {
  .input-wrapper .search-input {
    min-width: 100%;
    padding: 12px 20px;
  }
  .card-wrapper {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }
}
@media (max-width: 480px) {
  .main-title {
    font-size: 25px;
  }
}
/* ====================================== POKEMON-DETAILS PAGE ====================================== */
.pokemon-details-wrapper {
  display: grid;
  grid-template-areas:
    "pokemon-img pokemon-main-details pokemon-main-details pokemon-main-details pokemon-main-details"
    "other-details other-details other-details other-details other-details";
  gap: 30px;
  align-items: center;
}
.pokemon-details-wrapper .pokemon-detail-img {
  grid-area: pokemon-img;
  text-align: center;
}
.pokemon-details-wrapper .pokemon-main-detail {
  grid-area: pokemon-main-details;
}
.pokemon-details-wrapper .other-details {
  grid-area: other-details;
}
.pokemon-details-wrapper .pokemon-detail-img img {
  max-width: 400px;
  min-width: 400px;
}
.pokemon-details-wrapper .pokemon-main-detail .pokemon-title {
  font-size: 30px;
  line-height: 32px;
  text-transform: capitalize;
  padding: 0;
  margin: 0 0 15px;
}
.pokemon-details-wrapper .title {
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0;
}
.pokemon-details-wrapper .pokemon-main-detail .flex-info-wrapper,
.pokemon-details-wrapper .pokemon-info ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.pokemon-details-wrapper .pokemon-main-detail .flex-info-wrapper {
  row-gap: 2px;
  column-gap: 25px;
  margin: 0 0 10px;
}
.pokemon-details-wrapper .pokemon-info ul {
  gap: 10px;
  margin: 0 0 18px;
}
.pokemon-details-wrapper .pokemon-info ul li {
  border: 2px solid #f1f1f1;
  padding: 5px 20px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.pokemon-details-wrapper .pokemon-main-detail .flex-info-wrapper .flex-info {
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 0 0 6px;
}
.pokemon-details-wrapper .pokemon-main-detail .pokemon-info {
  margin: 0 0 10px;
}
.pokemon-details-wrapper .pokemon-info .title {
  margin: 0 0 8px;
}
@media (max-width: 1199px) {
  .pokemon-details-wrapper .pokemon-detail-img img {
    max-width: 300px;
    min-width: 300px;
  }
  .pokemon-details-wrapper .pokemon-info ul {
    gap: 8px;
  }
}
@media (max-width: 991px) {
  .pokemon-details-wrapper {
    grid-template-areas:
      "pokemon-img"
      " pokemon-main-details"
      "other-details";
  }
  .pokemon-details-wrapper .pokemon-detail-img {
    text-align: start;
  }
}
@media (max-width: 767px) {
  .pokemon-details-wrapper .pokemon-info ul li {
    font-size: 14px;
  }
}
@media (max-width: 575px) {
  .pokemon-details-wrapper .pokemon-main-detail .pokemon-title {
    font-size: 26px;
    line-height: 28px;
  }
}
@media (max-width: 575px) {
  .pokemon-details-wrapper .pokemon-detail-img img {
    max-width: 100%;
    min-width: 100%;
  }
}